@model WeddingPlanner.Models.Guest
<h1>Welcome to the Wedding Planner</h1>
<form action="/logout" method="post">
    <button class="btn btn-info logout">LOG OUT</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guest</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@{
    @foreach(var wedding in ViewBag.AllWeddings)
    {
        <tr>
            <td><a href="/overview/@wedding.WeddingId" method="get">@wedding.WedderOne and @wedding.WedderTwo</a></td>
            <td>@wedding.WeddingDate.ToString("D")</td>
            <td>@wedding.Guests.Count</td>
            @if(wedding.UserId == ViewBag.UserId)
            {
                <td><a href="/delete/@wedding.WeddingId">Delete</a></td>
            }
            else
            {
                @if(wedding.Guests.Count == 0) 
                {
                    <td><a href="rsvp/@wedding.WeddingId">RSVP</a></td>
                }
                else 
                {
                    bool found = false;
                    @foreach(var banana in wedding.Guests) 
                    {
                        @if(@banana.UserId == @ViewBag.user.UserId) 
                        {
                            found = true;
                        }
                    }
                    @if (found==true) 
                    {
                    <td><a href="unrsvp/@wedding.WeddingId">UNRSVP</a></td>
                    }
                    else 
                    {
                    <td><a href="rsvp/@wedding.WeddingId">RSVP</a></td>
                    }
                }
            }
        </tr>
    }
}
    </tbody>
</table>
<form action="CreateWedding">
    <button class="btn btn-info" type="submit">New Wedding</button>
</form>