@{
    ViewData["Title"] = "CodingDojo";
}
@model TheWall.Models.WallMessage
<h2>Welcome, @ViewBag.WelcomeName!</h2>
<form action="/logout" method="post">
    <button class="sup">LOG OUT</button>
</form>
<hr>
<table>
    <form asp-controller="Home" asp-action="PostMessage" method="post">
    <tr>
        <th>Post a message:</th>
    </tr>
    <tr>
        <td><textarea cols="80" rows="5" asp-for="Message"></textarea></td>
    </tr>
    <tr>
        <td align="right"><button>POST MESSAGE</button></td>
    </tr>
    </form>
</table>
<!-- START OF MESSAGES AND COMMENTS -->
<!-- THIS IS A HARDCODED SAMPLE LOL -->
@{
    foreach(var user in @ViewBag.thewall)
    {
        <blockquote>
            <p class="header">@user["FirstName"] @user["LastName"], @user["created_at"]</p>
            <p>@user["Message"]</p>
        </blockquote>
    }
}
<!-- END OF MESSAGES AND COMMENTS -->