@{
    ViewData["Title"] = "CodingDojo";
}
@model TheWall.Models.WallMessage
<h2>Welcome, @ViewBag.WelcomeName @ViewBag.WelcomeName2!</h2>
<form action="/logout" method="post">
    <button class="sup">LOG OUT</button>
</form>
<hr>
<table>
    <form asp-controller="Home" asp-action="PostMessage" method="post">
    <tr>
        <th>Post a message:</th>
    </tr>
    <tr>
        <td><textarea cols="80" rows="5" asp-for="Message"></textarea></td>
    </tr>
    <tr>
        <td align="right"><button>POST MESSAGE</button></td>
    </tr>
    </form>
</table>
<!-- START OF MESSAGES AND COMMENTS -->
<!-- THIS IS A HARDCODED SAMPLE LOL -->
@{
    foreach(var user in @ViewBag.thewall)
    {
        <blockquote>
            <form asp-controller="Home" asp-action="PostComment" asp-route-id="postcomment/@user["id"]" method="post">
                <p class="header">@user["FirstName"] @user["LastName"], @user["created_at"] @user["id"]</p>
                <p>@user["Message"]</p>
                <textarea cols="50" rows="3" asp-for="Comment" class="textcom"></textarea><br>
                <button class="comment sup">POST COMMENT</button>
            </form>
        </blockquote>
    }
}
<!-- END OF MESSAGES AND COMMENTS -->