@{
    ViewData["Title"] = "Dojos Page";
}
<form action="/" method="get" class="home">
    <button>VIEW DOJOS</button>
</form>
<br>
<form action="/ninjas" method="get">
    <button>VIEW NINJAS</button>
</form>

<h1>@ViewBag.Dojos.DojoName</h1>
<table>
    <tr>
        <th class="hi">LOCATION: </th>
        <td>@ViewBag.Dojos.DojoLocation</td>
    </tr>
    <tr>
        <th class="hi">DOJO INFORMATION: </th>
        <td>@ViewBag.Dojos.DojoInfo</td>
    </tr>
</table>

<!-- TABLE TO SHOW CURRENT NINJAS IN THE DOJO -->
<div class="dojo">
    <h4>CURRENT MEMBERS:</h4>
    <table>
        <tr>
            <th>NINJA</th>
            <th>ACTION</th>
        </tr>
    <!-- FOREACH FOR NINJA MEMBERS -->
        @{
            @foreach(var residentninja in ViewBag.ResidentNinjas)
            {
                <tr>
                    <td><a href="/viewninja/@residentninja.Id">@residentninja.NinjaName</a></td>
                    <td><a href="/banish/@residentninja.Id/@ViewBag.Dojos.Id">banish</a></td>
                </tr>
            }
        }
    <!-- END FOREACH -->
    </table>
</div>
<!-- END TABLE -->

<!-- TABLE TO SHOW ROGUE NINJAS IN THE DOJO -->
<div class="dojo">
    <h4>ROGUE MEMBERS:</h4>
    <table>
        <tr>
            <th>NINJA</th>
            <th>ACTION</th>
        </tr>
    <!-- FOREACH FOR NINJA ROGUES -->
@{
    @foreach(var rogueninja in ViewBag.RogueNinjas)
    {
        <tr>
            <td><a href="/viewninja/@rogueninja.Id">@rogueninja.NinjaName</a></td>
            <td><a href="/recruit/@rogueninja.Id/@ViewBag.Dojos.Id">recruit</a></td>
        </tr>
    }
}
    <!-- END FOREACH -->
    </table>
</div>
<!-- END TABLE -->